<div ng-controller="twitterCtrl">
    <select ng-model="searchData.criteria"
            ng-options="item.value as item.criteria for item in util.twitterSort">
    </select>

    <div ng-repeat="item in data.twitterFeeds | orderBy: searchData.criteria" class="well well-sm">
        <div>
            <img ng-src="{{item.user.profile_image_url}}"> Content: {{item.text}} {{item.created_at | daysBetween}}
        </div>
        <div>
            <span ng-repeat="media in item.extended_entities.media">
                <img ng-src="{{media.media_url}}" width="70" height="70" full-screen>
            </span>
        </div>
        <div style="text-align: right">
            <button class="btn btn-danger">Save Tweet</button>
        </div>
    </div>

</div>