<div ng-controller="twitterCtrl">
    <div>
        <select ng-model="searchData.criteria"
                ng-options="item.value as item.criteria for item in util.twitterSort">
        </select>

        <button class="btn btn-info" ng-click="showSavedFeeds = true; getAllSavedFeeds();" ng-hide="showSavedFeeds">View Saved Feeds</button>
        <button class="btn btn-info" ng-click="showSavedFeeds = false" ng-show="showSavedFeeds">View Posted Feeds</button>
    </div>

    <div ng-repeat="item in data.twitterFeeds | orderBy: searchData.criteria" class="well well-sm" ng-hide="showSavedFeeds">
        <div>
            <img ng-src="{{item.user.profile_image_url}}"> Content: {{item.text}} {{item.created_at | daysBetween}}
        </div>
        <div>
            <span ng-repeat="media in item.extended_entities.media">
                <img ng-src="{{media.media_url}}" width="70" height="70" full-screen>
            </span>
        </div>
        <div style="text-align: right">
            <button class="btn btn-danger" ng-click="save(item)">Save Tweet</button>
        </div>
    </div>

    <div ng-repeat="item in data.twitterSavedFeeds | orderBy: searchData.criteria" class="well well-sm" ng-show="showSavedFeeds">
        <div>
            <img ng-src="{{item.profileImageUrl}}">
            <span>Content: {{item.message}}</span>
            <span>{{item.datePosted | daysBetween}}</span>
        </div>
        <div>
            <span ng-repeat="media in item.mediaAttachments">
                <span ng-hide="media.embed">
                    <img ng-src="{{media.image.url}}" width="70" height="70" full-screen>
                </span>
                <span ng-show="media.embed">
                    <iframe ng-src="{{media.embed.url | trusted}}"></iframe>
                </span>
            </span>
        </div>
        <div style="text-align: right">
            <button class="btn btn-danger" ng-click="remove(item)">Remove</button>
        </div>
    </div>
</div>