body {
    background-image: url(/public/images/dark_wall.png);
}

.pointed {
    cursor: pointer;
}

.modal-body {
    text-align: center;
}

.modal-header, .modal-footer {
    background-color: #222222;
}

.modal-image {
    max-height: 100%;
    max-width: 100%;
}